:root {
	--yellow: rgba(246, 255, 0, 0.9);
	--blue: #357dc6;
}

html {
	font-size: 16px; /*Rem Basis*/
}
body {
	font-family: Orbitron, Verdana, Geneva, Tahoma, sans-serif;
}

.unselectableHTML {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/************************
Animate Shall we play
*************************/
/* Enter */
.animateShallWePlay-enter-active {
	transition: all 2000ms ease;
}
.animateShallWePlay-enter-from {
	transform: scale(0);
}
.animateShallWePlay-enter-to {
	opacity: 1;
	transform: scale(1);
}

/*************************
Animate Game Start
*************************/
/* Enter */
.animateStart-enter-from {
	opacity: 0;
	transform: skew(-10deg, 11deg) scale(2) translate(45px, -17px);
}
.animateStart-enter-to {
	opacity: 1;
	transition: all 0.5s 1s ease-in-out;
	transition-delay: 0.1s;
	transform: skew(0deg, 0deg) scale(1) translate(0px, 0px);
}
/* Leave */
.animateStart-leave-from {
	opacity: 1;
}
.animateStart-leave-to {
	opacity: 0;
}

/************************
Animate Match
*************************/
/* Enter */
.animateMatch-enter-active {
	transition: all 200ms ease;
}
.animateMatch-enter-from {
	opacity: 0;
	border-radius: 50%;
	transform: scale(0);
	width: 100vw;
}
.animateMatch-enter-to {
	opacity: 1;
}
/* Leave */
.animateMatch-leave-active {
	transition: all 200ms ease;
}
.animateMatch-leave-from {
	opacity: 1;
	transform: scale(0);
}
.animateMatch-leave-to {
	opacity: 0;
	transform: scale(0);
}

/*************************
Animate Card Fade
*************************/
.animateCardFade {
	animation-name: animateCardFade;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-delay: 1500ms;
	z-index: 10;
}

@keyframes animateCardFade {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2);
		visibility: hidden;
	}
}

/*************************
At Media
*************************/

@media screen and (max-height: 700px) and (orientation: landscape) {
	#gameStage {
		gap: 0.5rem;
		padding: 0.5rem;
	}
}
@media screen and (max-width: 700px) and (orientation: portrait) {
	#app {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		gap: 0rem;
	}
	#scoreCard {
		align-self: center;
		/* justify-items: center; */
		z-index: 1;
		max-width: 80%;
		/* flex-grow: 1; */
		/* align-content: flex-start; */
		padding-top: 2rem;
	}
	#gameStage {
		gap: 0.5rem;
		max-width: calc(85vh - 100px);
		padding: 0.5rem;
		/* background-color: red; */
	}
}

@media screen and (min-width: 700px) and (orientation: portrait) {
	#app {
		flex-direction: column-reverse;
		justify-content: space-evenly;

		gap: 1rem;
	}
	#scoreCard {
		width: 300px;
		align-self: center;
	}
	#gameStage {
		width: 80%;
	}
}
@media screen and (max-width: 400px) {
	#gameStage {
		gap: 0.3rem;
		padding: 0rem;
	}
}
